  <section class="gallery">
    <h1>Galeria de Imagens</h1>
    <div class="gallery-container">
      <div class="gallery-item"><img src="https://picsum.photos/id/1015/400/300" alt="Imagem 1" /></div>
      <div class="gallery-item"><img src="https://picsum.photos/id/1025/400/300" alt="Imagem 2" /></div>
      <div class="gallery-item"><img src="https://picsum.photos/id/1035/400/300" alt="Imagem 3" /></div>
      <div class="gallery-item"><img src="https://picsum.photos/id/1045/400/300" alt="Imagem 4" /></div>
      <div class="gallery-item"><img src="https://picsum.photos/id/1055/400/300" alt="Imagem 5" /></div>
      <div class="gallery-item"><img src="https://picsum.photos/id/1065/400/300" alt="Imagem 6" /></div>
    </div>
  </section>
