<section class="gallery">
  <h1>Galeria de Imagens</h1>

  <!-- Container da galeria -->
  <div class="gallery-container">
    <div class="gallery-item"
         *ngFor="let imagem of imagens"
         (click)="expandirImagem(imagem.id)">
      <img [src]="'https://picsum.photos/id/' + imagem.id + '/400/300'"
           [alt]="imagem.alt" />
    </div>
  </div>
</section>

<!-- Modal para exibir imagem expandida -->
<div class="modal" *ngIf="imagemExpandida" (click)="fecharModal()">
  <span class="close">&times;</span>
  <img class="modal-content" [src]="imagemExpandida" alt="Imagem expandida" />
</div>
